# MongoDB connection string example
MONGO_URI=mongodb://root:example@localhost:27017/grocery-store?authSource=admin
# Auth secret key example, should be generated using a secure method
AUTH_SECRET=your_auth_secret
